p{
  font-family:Helvetica,Arial,sans-serif;
  }

h1{
  font-family:Georgia, "Times New Roman", serif;
  }

ul{
list-style-type: none;

  }

#nav li {
  float: left;
  margin: 0;
  padding: 0;
  width: 25%;
}

  #nav a:link, a:visited {
    display: block;
  }

  #container{
    width: 50%;
    background-color: yellow;
    margin: auto;
  }

.caption{
    color:black;
    font-familty: Georgia, "Times New Roman", serif;
    font-size: 0.8em;
    font-style: italic;
    margin-top: 0;
    text-align: right;
}

a:link {
  color: red;
}

a:visited{
  color: blue;
}

a:hover{
  color: green;
}

a:active{
  color: purple;
}

img{
  border-style: none;
}
