p{
  color: #66666;
  font-family:Helvetica,Arial,sans-serif;
  }

h1{
  font-family:Georgia, "Times New Roman", serif;
  }

  #container{
    width: 95%;
    background-color:#fffff;
    margin:0 auto;
  }

.caption{
    color:black;
    font-familty: Georgia, "Times New Roman", serif;
    font-size: 0.8em;
    font-style: italic;
    margin-top: 0;
    text-align: right;
}

#footer{
    color: black;
    font-family: Georgia, "Times New Roman", serif;
    font-size: 0.8em;
    border-top: 1px solid black;
}
